[Desktop Entry]
Name=Driveway Camera
Exec=flatpak run org.videolan.VLC rtsp://admin:2brothers@192.168.1.123:554/h264Preview_02_main
Icon=vlc
Type=Application
Terminal=false
Categories=Video;
