[Unit]
Description=Cache PipeWire Sink IDs and Link Audio Outputs
After=default.target
Wants=default.target

[Service]
ExecStart=/bin/bash -c 'sleep 5 && ~/.config/scripts/cache_sink_ids.sh'
Type=oneshot

[Install]
WantedBy=default.target
